.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.p-24 {
  padding: 24px;
}

.p-16-24 {
  padding: 16px 24px;
}

.p-12-10 {
  padding: 12px 10px;
}

.p-0-10 {
  padding: 0 20px;
}

.p-4-0 {
  padding: 4px 0;
}

.p-0 {
  padding: 0;
}

.m-32-0 {
  margin: 0 32px;
}

.mb-4 {
  margin-bottom: 4px;
}

.p-1-0-7-0 {
  padding: 1px 0 7px 0;

}

.m-4-0 {
  margin: 4px 0;
}

.m-auto {
  margin: auto;
}

.br-8 {
  border-radius: 8px;
}

.br-16 {
  border-radius: 16px;
}

.br-24 {
  border-radius: 24px;
}

.br-36 {
  border-radius: 36px;
}

.h-28 {
  height: 28px;
}

.br-none {
  border: none;
}

.outline-none {
  outline: none;
}

.opacity-0-5 {
  opacity: 0.5;
}

.opacity-0-4 {
  opacity: 0.4;
}

.w-100 {
  width: 100%;
}
