@import "css/colors.css";
@import "css/fonts.css";
@import "css/general.css";
@import "css/adaptive.css";
@import "css/grid.css";


html, body {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  min-height: 100vh;
  min-width: 300px;
}

/*header*/
.header {
  display: grid;
}
.header__menu {
  grid-column: 1;
}
.header__logo {
  grid-column: 3;
}
.header__search-field {
  grid-template-columns: 1fr 24px;
  gap: 8px;

  grid-column: 5;
}
.search-field__input::placeholder {
  color: #FFFFFF;
  font-family: SegoeUI, serif;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  opacity: 0.5;

}
.header__profile {
  grid-column: 7;
}
.profile-cart-grid {
  grid-template-rows: 30px 20px;
  gap: 6px;
}
.header-cart {
  position: relative;
  grid-column: 9;
}
.header-cart__notification {
  position: absolute;
  height: 16px;
  width: 16px;

  justify-content: center;
  align-items: center;

  right: 8px;
  top: -4px;

  margin: auto;
}

/*main content*/
.content {
  display: grid;
}
.cart {
  display: grid;
  gap: 27px;
}
.products-choose_all button {
  margin-left: 11px;
}

.products-choose_all label {
  margin-right: 11px;
}

.products-choose_all.choose .choose {
  display: none;
}

.products-choose_all .not-choose {
  display: none;
}

.products-choose_all.choose .not-choose {
  display: block;
}

.products__line {
  margin-top: 16px;
  height: 1px;
  background: rgba(0, 0, 0, 0.10);
}
.product_item {
  display: grid;
  grid-template-columns: 1fr 226px;
}
.product-specifications {
  display: grid;
  grid-template-columns: 22px 12px 72px 16px 1fr;
}
.specifications {
  display: grid;
  grid-column: 5;
  max-width: 275px;
  gap: 8px;
}
.specifications__props {
  display: flex;
  gap: 16px;

  margin-bottom: 8px;
}
.specifications__provider-info {
  grid-template-columns: max-content max-content;
  gap: 6px;

  position: relative;

  margin-top: 4px;
}
.provider-info__table {
  display: none;
}
.provider-info__icon:hover + .provider-info__table {
  display: grid;
  gap: 8px;
  padding: 11px 16px 13px 16px;
  width: 280px;

  position: absolute;
  top: 100%;
  left: 0;

  z-index: 100;

  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.30), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
.product-counter {
  display: grid;
  grid-template-columns: 28% 1fr 28%;
}
.product-container {
  transition: height 0.5s ease-in-out;
}
.missing-products-container {
  transition: height 0.5s ease-in-out;
}
button:disabled {
  color: rgba(0, 0, 0, 0.20);
  cursor: auto;
}

.product__checkbox {
  grid-column: 1;
  margin-top: 37.5px;
}
.product__pic {
  grid-column: 3;

  width: 72px;
  height: 96px;
  object-fit: cover;
}
.product-info {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 100px 110px;
}
.product-price-sale {
  position: relative;
  margin-left: auto;
}
.product-price__line {
  height: 1px;
  position: absolute;
  background: #9797AF;
}
.product-management {
  display: flex;
  gap: 16px;
}
.missing-products .product-management {
  margin-left: auto;
}
.product__item {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.missing-product__item {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.item-info {
  display: flex;
}
.item-info__checkbox {
  margin-right: 12px;
  margin-top: 37.5px;

  height: 22px;
}
.image-block {
  width: 72px;
  height: 96px;
  margin-right: 16px;
  position: relative;
}
.image-block__image {
  width: 100%;
  height: 100%;
}
.image-block__checkbox {
  position: absolute;

  top: 4px;
  left: 4px;
}
.image-block__size {
  position: absolute;
  height: 22px;

  padding: 0 3.5px 0 3.5px;

  bottom: 4px;
  left: 4px;
}
.item-info__specifications {
  display: grid;
}
.item-info__price {
  position: relative;

  grid-template-columns: max-content max-content;
  gap: 5px;

  margin-bottom: 2px;
}
.item-counter__price {
  position: relative;

  grid-template-rows: max-content max-content;
  gap: 5px;

  width: 110px;
  text-align: right;
  margin-left: 16px;
}
.price_discount {
  position: relative;
}
.discount-info {
  display: none;
}
.price_discount:hover + .discount-info {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  gap: 8px;
  padding: 11px 16px 13px 16px;

  position: absolute;
  z-index: 100;

  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.30), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.specifications__name {
  margin-bottom: 8px;
  max-width: 275px;
}

.counter {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  gap: 8px;
}

.missing-products_count {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-row-gap: 16px;
}
.missing-product_item {
  display: grid;
  grid-template-columns: 1fr 226px;
  filter: grayscale(100%)
}
.missing-product-specifications {
  display: grid;
  grid-template-columns: 72px 1fr;
  gap: 16px;
}
.missing-product__pic {
  width: 72px;
  height: 96px;
  object-fit: cover;
  filter: grayscale(100%)
}
.missing-specifications {
  display: grid;
  max-width: 275px;
  gap: 8px;
}

.delivery-table {
  display: grid;

  column-gap: 32px;
  row-gap: 16px;
}
.delivery-table__photo {
  display: flex;
  gap: 8px;
}
.delivery-table__pic {
  width: 40px;
  height: 56px;
  object-fit: cover;
}
.delivery__notification {
  position: absolute;
  padding-left: 6px;
  padding-right: 6px;

  right: -3px;
  top: -4px;
}
.user {
  flex: 1 1 283px; /* flex-grow: 1, flex-shrink: 1, flex-basis: 338px */
  max-width: 338px;
  min-width: 283px;
  box-sizing: border-box; /* Учитываем padding и border внутри размеров блока */
  width: auto;
}
.order-confirm__button {
  height: 44px;
}

/*tabbar*/
.cart-tabbar {
  position: relative;
}
.favorites-tabbar {
  position: relative;
}
