@import "css/colors.css";
@import "css/fonts.css";
@import "css/general.css";
@import "css/adaptive.css";
@import "css/grid.css";


html, body {
  margin: 0;
}

.main {
  display: grid;
  grid-template-rows: 88px 1fr 64px;

  min-height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 170px 1fr 152px;
  gap: 32px;
}

.left-header {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 16px;
}

.size-menu {
  height: 48px;
  width: 48px;
}

.search-field {
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 8px;
}

.search-field__input::placeholder {
  color: #FFFFFF;
  font-family: SegoeUI, serif;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  opacity: 0.5;

}

.right-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.profile-cart-grid {
  display: grid;
  grid-template-rows: 30px 20px;
  gap: 6px;
}

.cart {
  position: relative;
}

.cart__notification {
  position: absolute;
  height: 16px;
  width: 16px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  right: 8px;
  top: -4px;

  margin: auto;
}

.left-header__logo {
  word-wrap: break-word;
}

.z {

}

.content {
  display: grid;
}

.order-summary {
  border-radius: 16px;
  background: #FFFFFF;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.30), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  height: max-content;
}

#pay-immediately-checkbox {
  display: none;
}

.checkbox-images {
  position: relative;
  display: block;
}

.img1 {
  display: block;
}

.img2 {
  display: none;
}

#pay-immediately-checkbox:checked + .checkbox-images .img1 {
  display: none;
}

#pay-immediately-checkbox:checked + .checkbox-images .img2 {
  display: block;
}

.order-confirm__button {
  height: 44px;
}
